.snap-gallery {
    display: flex;
    margin: 0 auto;
    padding: 0;
    overflow-y: hidden;
    //scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    scroll-snap-align: start;
    list-style-type: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0 !important
    }

    li {
        scroll-snap-align: center;
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 70%;
        display: flex;
        flex: 1 0 70%;
        position: relative;

        figure, figure img {
            padding: 0;
            margin: 0;
            width: 100%;
        }
    }

    &::after,
    &::before {
        display: flex;
        content: '';
        width: 100%;
        padding: 0;
        margin: 0;
        max-width: 15%;
        flex: 1 0 15%;
    }

    @for $i from 0 to 10 {
        .mx-#{$i} {
            margin-left: ($i * 10px) / 2;
            margin-right: ($i * 10px) / 2;
        }
    }
}
