<template>
  <div class="snap-gallery-wrap">
    <ul class="snap-gallery" ref="gallery" @scroll.prevent="pauseInterval">
      <li v-for="(img, index) in srcset" @click="imageClick(index, img)"
          :class="['mx-' + gap]"
          :key="index">
        <figure>
          <img :src="img.src" alt="">
        </figure>
      </li>
    </ul>
  </div>
</template>

<script>
import '../style/index.scss';
import { debounce, indexInParent } from '../helpers';

export default {
  name: 'SnapGallery',

  data() {
    return {
      current: 0,
      delayTimeout: null,
      autoplayInterval: null,
      userScroll: true,
    };
  },

  props: {
    srcset: {
      type: Array,
    },
    gap: {
      type: String,
      default: '2',
    },
    event: {
      type: Function,
      default: null,
    },
    autoplay: {
      type: Boolean,
      default: false,
    },
    interval: {
      type: Number,
      default: 3000,
    },
    delay: {
      type: Number,
      default: 5000,
    },
  },

  created() {

  },

  mounted() {
    if (this.autoplay) this.start();
  },

  methods: {
    // eslint-disable-next-line func-names
    pauseInterval: debounce(function () {
      if (this.userScroll) {
        clearInterval(this.autoplayInterval);
        if (this.autoplay) {
          clearTimeout(this.delayTimeout);
          this.delayTimeout = setTimeout(this.start, this.delay);
        }
        this.getCurrent();
      }
    }, 100),

    start() {
      if (!(this.$refs.gallery && this.$refs.gallery.children)) return;

      const { length } = this.$refs.gallery.children;

      this.autoplayInterval = setInterval(() => {
        const index = (this.current + 1 >= length)
          ? 0 : this.current + 1;

        this.next(index);
      }, this.interval);
    },

    imageClick(index, img) {
      if (this.event !== null) {
        this.event(index, img.src);
      }
    },

    async scrollTo(options) {
      if (!(this.$refs.gallery && this.$refs.gallery.children)) return;

      this.userScroll = false;
      await this.$refs.gallery.scrollTo(options);
      this.userScroll = true;
    },

    async next(index) {
      if (!(this.$refs.gallery && this.$refs.gallery.children)) return;

      const scrollTo = this.getPosition(this.$refs.gallery.children, index);
      await this.scrollTo({
        left: scrollTo,
        tol: 0,
        behavior: (index === 0 ? 'auto' : 'smooth'),
      });
      this.current = index;
    },

    async goTo(index) {
      if (!(this.$refs.gallery && this.$refs.gallery.children)) return;

      const { children } = this.$refs.gallery;
      const { length } = children;

      let pos = index;

      if (pos < 0) pos = length + pos;
      if (pos >= length || pos < 0) throw Object({ message: `Index "${pos}" out of range` });

      const scrollTo = this.getPosition(children, pos);

      this.pauseInterval();

      await this.scrollTo({
        left: scrollTo,
        top: 0,
        behavior: 'smooth',
      });

      this.current = pos;
    },

    getPosition(children, pos) {
      let scrollTo = 0;
      Object.keys(children)
        .forEach((key) => {
          if (key >= pos) return;
          const element = children[key];

          scrollTo += element.getBoundingClientRect().width;
        });
      return scrollTo;
    },

    getCurrent() {
      if (!(this.$refs.gallery && this.$refs.gallery.children)) return;

      // uses native elementFromPoint for better performance
      const rect = this.$refs.gallery.getBoundingClientRect();
      const oW = this.$refs.gallery.offsetWidth / 2;
      const oH = this.$refs.gallery.offsetHeight / 2;
      const centerCell = document.elementFromPoint(rect.left + oW, rect.top + oH);
      this.current = indexInParent(centerCell.parentElement.parentElement);
    },
  },

  destroyed() {
    clearTimeout(this.delayTimeout);
    clearInterval(this.autoplayInterval);
  },

  watch: {},
};
</script>
