<template>
  <section id="app">
    <snap-gallery :srcset="srcset"
                  gap="3"
                  :event="customEvent"
                  ref="gallery"
                  :autoplay="true"
    />
  </section>
</template>

<script>
export default {
  name: 'Demo',

  data() {
    return {
      srcset: [
        { src: 'https://picsum.photos/id/1/1024/768' },
        { src: 'https://picsum.photos/id/9/1024/768' },
        { src: 'https://picsum.photos/id/8/1024/768' },
        { src: 'https://picsum.photos/id/7/1024/768' },
        { src: 'https://picsum.photos/id/6/1024/768' },
        { src: 'https://picsum.photos/id/5/1024/768' },
        { src: 'https://picsum.photos/id/4/1024/768' },
        { src: 'https://picsum.photos/id/3/1024/768' },
        { src: 'https://picsum.photos/id/3/1024/768' },
      ],
    };
  },

  mounted() {
    this.$refs.gallery.goTo(2);
  },

  methods: {
    customEvent(index) {
      this.$refs.gallery.goTo(index);
    },
  },
};
</script>
